.card-image{
  height: relative;
  width: 100%;
  display: block;
}
.mb-3{
  margin-top: 8%;
}
.aboutus{
  text-align: left;
}
footer{
  background-color: #F8F9FA;
  border-top: 1px solid black;
  display: block;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
  text-align: center;
}
footer p, i{
  color: #14281D;
}
.fa{
  font-size: 2.5em;
}
